Support IETF dates

There is a long list of RFCs which have successively refined this format. 

[RFC 822](https://tools.ietf.org/html/rfc822#section-5)
[RFC 1123](https://tools.ietf.org/html/rfc1123#section-5.2.14) (section link target does not work on this document)
[RFC 2616](https://tools.ietf.org/html/rfc2616#section-3.3)
[RFC 5322](https://tools.ietf.org/html/rfc5322#section-3.3)
[RFC 7231](https://tools.ietf.org/html/rfc7231#section-7.1.1.1)

Unclear from a first glance what the format should be called and how much variation will need to be supported. Webmachine generates and parses these dates, although parsing is actually performed by the standard library `httpd_util:convert_request_date/1`.